<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Litecoin - 404 - Page Not Found</title>
    <link href='https://fonts.googleapis.com/css?family=Noto+Sans:400,700&subset=latin,cyrillic-ext,cyrillic,latin-ext' rel='stylesheet' type='text/css' />
</head>
<body>
<div id="pager">
    <div class="wrapper">
    <center style="font-family:'Noto Sans'; font-size:28px;color:#666;margin-top:48px;">
        <a href="http://litecoin.org"><img src="/images/litecoin-logo-192.png" style="border:none;margin-bottom:48px;"/></a>
        <p/>
        THIS IS NOT THE PAGE YOU ARE LOOKING FOR
    </center>
    </div>
</div>
</body>
</html>
