body 
{ 
	background:url(images/bg.png); 
	font-family:  "Trebuchet MS", "Noto Sans", "Helvetica Neue", "Helvetica", Arial, sans-serif; /*Arial, Helvetica, sans-serif;*/ 
	font-size: 10px; 
	font-weight: normal;
}

a:link { text-decoration: none; color: black; }
a:visited { text-decoration: none; color: black; }
a:hover { text-decoration: none; color: black; }

#language, #downloads, #images, #screen, #header .alignright { visibility: hidden; display:none; }

.icon img { margin-top: 14px; }